<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.example.dao.OrderDao">

    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        select * from tal_order where id = #{id}
    </select>

    <resultMap id="BaseResultMap" type="org.example.entities.Storage">
        <id column="id" property="id" jdbcType="BIGINT" />
        <id column="user_id" property="userId" jdbcType="BIGINT" />
        <id column="product_id" property="productId" jdbcType="BIGINT" />
        <id column="count" property="count" jdbcType="INTEGER" />
        <id column="money" property="money" jdbcType="DECIMAL" />
        <id column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <insert id="save" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into tal_order(user_id, product_id, count, money, status)
        values(#{userId}, #{productId}, #{count}, #{money}, 0)
    </insert>
    
    <update id="updateStatus">
        update tal_order set status = #{status} where id = #{id} and user_id = #{userId} and status = #{statusBefore}
    </update>
</mapper>